[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
python-dotenv = "*"
pandas = "*"
numpy = "*"
requests = "*"
uvicorn = "*"
openai = "*"
psycopg2-binary = "*"
pydantic = "*"
apscheduler = "*"
futu-api = "*"
fastapi-websocket-pubsub = "*"
jinja2 = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.12"
